.container {
  position: absolute;
  top: 25.5em;
  left: 25em;
}

.button {
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  animation-name: button;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  cursor: pointer;
  z-index: 100;
}

@keyframes button {
  0% {
    color: rgb(255, 255, 255);
  }
  50% {
    color: rgba(255, 0, 0, 0);
  }
  100% {
    color: rgb(255, 255, 255);
  }
}
